<!DOCTYPE html>
<html lang="en">
<head>



</head><body>
<h1> Dojo Survey </h1>
<form action= "/processdata" method ="post">
Name: <input type="text" name="name" id= "">
Dojo Location <select  name= 'location'>  <br>
<option value="DC">DC</option>
<option value="Miami">Miami</option>
<option value="Las Vegas">las vegas</option>
<option value="NY">NY</option>

</select>
Favorite Language <select name= "language"><br>
        <option value="Portuguese">Portuguese</option>
        <option value="Python">Python</option>
        <option value="Swift">Swift</option>

    </select>
Comment (optional)<input type = "textarea" name = ""  >
    <input type = "submit" value = "Go!">
</form>
  </body>
</html>




