<!DOCTYPE html>
<html>
<head>
      <title></title>
</head>
<body>
   <h1> Hello World</h1>
   <h2> This is my 2nd Route.</h2>
   <h3> Isn't it incredible?  </h3>
   <p> I am an insightful paragraph </p>
   <a href = "http://www.google.com">google</a>
   <table border=1>
       <thead>
             <tr>
               <th>Meal </th>  
               <th>Price</th>
          </tr>
        </thead>
    <t/body>
        <tr>
             <td> Bahn Mi</td>
             <td> $5.00</td>
        </tr>
        <tr>
             <td>Burrito</td>
             <td>$7.00</td>
        </tr>
        <tr>     
             <td>Beer</td>
             <td>$3.50</td> 
        </tr>
    </tbody>
   </table>
</body>
</html>