*{
   padding:5px;
   margin:5px; 
   font-family: 'Times New Roman';
}

h1{
    font-family: mistral;
    background-position: 700px 250px;
    font-size: 75px;
    right: 500px;
}

body{
background: rgb(23, 216, 88);     
background-position: center;
background-repeat: no-repeat; 
width: 800px;
margin:00px auto;
}


.location{
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    background:gold; 
    border-radius: 100px;
    padding:0px;
    font-style: italic;
    margin: 25px;
    
}
#activities{
    border: 1px solid black;
    border-top-left-radius: 15px;
    height: 200px;
    width:  450px;
    background:turquoise;
    padding: 10px;
    margin-left: 70px;
    margin-top:30px;
    text-align: center;
    overflow:scroll;
}
.button{
    border-radius: 100px;
    color:red;
    background-color: white;
    padding:4px;
    
}
.wrap {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    position: relative;
}

.one {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    z-index: -1;
    background-image: url(http://jp.rohto.com/~/Media/com/cp/ninja/en/dco_eye_ninja.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
 }

.two:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
 z-index: -1;
    background-image: url(http://jp.rohto.com/~/Media/com/cp/ninja/en/dco_eye_ninja.png);
   background-repeat: no-repeat;
    background-position: 875px 330px;
}


