*{
   padding:0px;
   margin:0px; 
   font-family: 'Times New Roman';
  /* outline:1px solid black; */
}

h1{
    font-family: mistral;
    
}

body{
background: rgb(43, 226, 104);     
/* background-image: url("http://jp.rohto.com/~/Media/com/cp/ninja/en/dco_eye_ninja.png")1000px 150px,
("https://banner.kisspng.com/20180416/boq/kisspng-sai-stock-photography-sword-weapon-nunchaku-weapon-5ad4fd0fef0c35.7574594815239078559792.jpg")150px 1000px; */

/* background-position: 1000px 150px, 150px 1000px; */
/* background-repeat: no-repeat, no-repeat; */



width: 600px;
margin:15px auto;
}


.location{
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background:gold; 
    border-radius: 15px;
    padding:5px;
    font-style: italic;
}
#activities{
    border: 3px solid black;
    height: 300px;
    width:  270px;
    overflow:scroll;
    background:turquoise;
    border-radius: 0px;
    position:1000px 150px;
}
.button{
    border-radius: 1px;
    color:red;
    background-color: white;
    padding:3px;
}
.wrap {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    position: relative;
}

.one {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://banner.kisspng.com/20180416/boq/kisspng-sai-stock-photography-sword-weapon-nunchaku-weapon-5ad4fd0fef0c35.7574594815239078559792.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

.two:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(http://jp.rohto.com/~/Media/com/cp/ninja/en/dco_eye_ninja.png);
    background-repeat: no-repeat;
    background-position: 800px 250px;
}

